## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 11
print(a)

11

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
var1 = "Kenneth"

5) Crear una variable que contenga un número complejo

In [5]:
b = 4 + 2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(b)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
var_uno = "True"
var_dos = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [10]:
print(f"La variable 1 es de tipo {type(var_uno)} y la variable 2 es de tipo {type(var_dos)}")

La variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
aa = 5 + 4.9
print(aa)

9.9

11) Realizar una operación de suma de números complejos

In [13]:
a1 = 4 + 2j
a2 = 10j + 5
print(a1 + a2)

(9+12j)

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
c = a2 + 45
print(c)

(50+10j)

13) Realizar una operación de multiplicación

In [16]:
4 * 5

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
27/4

6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [21]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [22]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [24]:
p1 = "Hola "
p2 = "Mundo"
print(p1 + p2)

Hola Mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
2 == "2"

False

In [28]:
print(type(2))
print(type("2"))

<class 'int'>
<class 'str'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [31]:
#Arroja error porque esta entre comillas y lleva una , en vez de un .
a = float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [32]:
num = 3
print(num -= 1)

SyntaxError: invalid syntax (1754679045.py, line 2)

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [33]:
1 << 2

4

In [ ]:
"""
El sistema numérico binario es un sistema numérico con una base de 2. También se conoce como el sistema de base 2. A diferencia del sistema decimal (base 10), que usa diez dígitos (0-9), el sistema binario solo usa dos dígitos: 0 y 1.

En el sistema binario, la posición de cada dígito representa una potencia de 2. El dígito más a la derecha representa 2^0 (1), el siguiente dígito representa 2^1 (2), el siguiente representa 2^2 (4), y así sucesivamente. El valor de cada dígito se calcula multiplicando el dígito por la potencia de 2 correspondiente y sumándolos.

Por ejemplo, el número binario 1101 es equivalente a:

(1 * 2 ^ 3) + (1 * 2 ^ 2) + (0 * 2 ^ 1) + (1 * 2 ^ 0)
= 8 + 4 + 0 + 1
= 13 (en decimal)

El sistema binario es ampliamente utilizado en sistemas informáticos y electrónica digital porque corresponde directamente a los estados de encendido/apagado de los interruptores electrónicos. Los números binarios forman la base para representar y manipular datos en las computadoras, donde cada bit (dígito binario) puede almacenar un 0 o un 1.
"""

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [35]:
#No esta permitido porque el valor 2 es int y el valor "2" es string
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
#Si esta permitido porque los dos valores son 2 de tipo int 
2 + 2

4

26) Realizar una operación válida entre valores de tipo entero y string

In [38]:
var1 = "Este mensaje se repite "
var2 = 5
print(f"{var1}{var2}")

Este mensaje se repite 5